body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
video {
    width: 320px;
    height: 240px;
    margin: 50px auto;
    display: block;
  }

  a{
    color: #2b06fd;
    text-decoration: none;
  }